name: Swift

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '**.swift'
  pull_request:
    branches: [ master ]
    paths:
      - '**.swift'

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v

#  linux-android:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#      - name: "Test Swift Package on Linux"
#        run: swift test
#      - name: "Test Swift Package on Android"
#        uses: skiptools/swift-android-action@v2
#        with:
#          free-disk-space: true
